<p id="notice"><%= notice %></p>

<p>
	<img src= <%= @shop.image.url %>>
</p>

<p>
  <strong>Shopowner:</strong>
  <%= @shop.shopowner %>
</p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @shop.phone %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @shop.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @shop.end_time %>
</p>

<p>
  <strong>Holiday:</strong>
  <%= @shop.holiday %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shop.address %>
</p>

<p>
  <strong>Main image:</strong>
  <%= @shop.main_image %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
